In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
# changed csv file name from task2 to Mltask
df = pd.read_csv('D:\Machine learning\Pandas_tutorial\pikapika\MLtask.csv')
df

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [2]:
df.isnull().sum()

ID                          0
Segment type                0
Segment Description         0
Answer                      0
Count                       0
Percentage                  0
It became a relationship    0
dtype: int64

In [3]:
# no NaN values

In [4]:
# creating dummies and splitting data
new_df = pd.get_dummies(df, columns=['Answer', 'Segment type'])
# 'Segment Description', 'ID' are n
cols = list(new_df.columns.values)

X = new_df[cols[2:4]+cols[5:]]
y = new_df['It became a relationship']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [5]:
# random tree algorithm
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100)

clf.fit(X_train, y_train)

y_prediction = clf.predict(X_test)

In [6]:
# checking accuracy for random tree algorithm
from sklearn import metrics

print("Accuracy for random tree algo: ", metrics.accuracy_score(y_test, y_prediction))

Accuracy for random tree algo:  0.8857644991212654

In [7]:
# changing hyperparameter
clf1 = RandomForestClassifier(n_estimators=150)

clf1.fit(X_train, y_train)

y_prediction1 = clf1.predict(X_test)

In [8]:
print("Accuracy for random tree algo 1: ", metrics.accuracy_score(y_test,y_prediction1))

Accuracy for random tree algo 1:  0.8910369068541301

In [9]:
# logistic regression
from sklearn.linear_model import LogisticRegression

lreg = LogisticRegression(solver='lbfgs', max_iter= 2000, penalty= 'l2')
lreg.fit(X_train, y_train)

y_pred_lr = lreg.predict(X_test)

In [10]:
print("Accuracy for lreg: ", metrics.accuracy_score(y_test, y_pred_lr))

Accuracy for lreg:  0.81195079086116

In [11]:
# changing hyperparameters
lreg1 = LogisticRegression(solver='lbfgs', max_iter= 2000, penalty= 'none')
lreg1.fit(X_train, y_train)

y_pred_lr1 = lreg1.predict(X_test)

In [12]:
print("Accuracy for lreg1: ", metrics.accuracy_score(y_test, y_pred_lr1))

Accuracy for lreg1:  0.8137082601054482